@import 'slick';

.bike_page {
    .name_container {
        text-align: center;
        .name {
            font-size: 2em;
            font-weight: bold;
            border-top: 3px dotted #a7a5a0;
            border-bottom: 3px dotted #a7a5a0;
            box-shadow: inset 0 -1px 0 0 #a7a5a0, inset 0 1px 0 0 #a7a5a0, 0 1px 0 0 #a7a5a0, 0 -1px 0 0 #a7a5a0;
            margin-bottom: 1px;
            // border-style: double;
            // border-radius: 5px;
            // border-color: darkgray;
            display: inline-block;
            padding: 5px;
            margin: 20px;
        }
    }


    .images {
        padding: 20px;

        .image {
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            max-width: 100%;
            border: 1px solid red;
        }

        .image img {
            width: 100%;
        }

        .operations {
            text-align: center;

            a {
                display: inline-block;
            }

            input[type=file] {
                display: block;
                width: 0;
                height: 0;
            }
        }

        .slick-slide {
            transition: opacity 1s ease-in-out;
            opacity: 0.5;
        }

        .slick-current {
            transition: opacity 1s ease-in-out;
            opacity: 1;
        }

        .slick_images img {
            height: 500px;
            max-height: 80vw;
        }
    }

    .info {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
    }

    .stats {
        display: inline-block;
        padding: 5px;
        border: 1px solid #lightgray;
        border-radius: 5px;
        background-color: #f1f3f2;
    }

    .stats ul {
        display: table;
        padding: 10px;
        margin: 0px;
    }

    .stats ul li {
        list-style: none;
        display: table-row;
    }

    .stats ul li span {
        list-style: none;
        display: table-cell;
    }

    .stat {
        padding-left: 120px;
    }

    .comments {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        background-color: #f1f3f2;
    }

    .comment {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #a7a5a0;
        border-radius: 5px;
        position: relative;
        overflow: auto;
        background-color: #efeee9;
    }

    .comment_profile_image {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-right: 20px;
        width: 80px;
        float: left;

        img {
            align-self: center;
            width: 100%;
        }
    }

    .comment_user_info {
        border-bottom: 1px solid #ddd;
        display: inline-block;
    }

    .comment .username {
        width: 20em;
        max-width: 100%;
        display: inline-block;
        font-size: 1.1em;
        margin-right: 15px;
    }

    .comment .timestamp {
        white-space: nowrap;
        font-size: 0.8em;
        color: #999;
    }

    .comment_content {
        margin-top: 10px;
    }
}
