@import 'slick';

.bike_page {
    .slick-slide {
        transition: opacity 1s ease-in-out;
        opacity: 0.5;
    }

    .slick-current {
        transition: opacity 1s ease-in-out;
        opacity: 1;
    }

    .slick_images img {
        height: 500px;
        max-height: 80vw;
    }

    .name_container {
        text-align: center;
    }

    .name {
        font-size: 2em;
        font-weight: bold;
        border: 1px solid #ccc;
        display: inline-block;
        padding: 5px;
        margin: 20px;
    }

    .images {
        padding: 20px;
    }

    .image {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        max-width: 100%;
        border: 1px solid red;
    }

    .image img {
        width: 100%;
    }

    .info {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px;
    }

    .stats {
        display: inline-block;
        border: 1px solid #ccc;
        background-color: #eee;
    }

    .stats ul {
        display: table;
        padding: 10px;
        margin: 0px;
    }

    .stats ul li {
        list-style: none;
        display: table-row;
    }

    .stats ul li span {
        list-style: none;
        display: table-cell;
    }

    .stat {
        padding-left: 120px;
    }

    .comments {
        border: 1px solid blue;
        padding: 20px;
        margin: 10px;
    }

    .comment {
        position: relative;
        overflow: auto;
    }

    .comment_profile_image {
        margin-right: 20px;
        width: 80px;
        float: left;
        display: inline-block;
    }

    .comment_profile_image img {
        width: 100%;
    }

    .comment_user_info {
        border-bottom: 1px solid #ddd;
        display: inline-block;
    }

    .comment .username {
        font-size: 1.1em;
        margin-right: 15px;
    }

    .comment .timestamp {
        font-size: 0.8em;
        color: #999;
    }

    .comment_content {
        margin-top: 10px;
    }
}
