
.button_wrapper{
    position:relative;
}

.animate {
    transition: all 0.3s;
}

.btn {
    display: inline-block;
    line-height: 16px;
    padding-left: 30px;
    padding-right: 30px;
    appearance: none;
    font-size: 13px;
    position: relative;
    opacity: .999;
    border-radius: 0%;

    @extend .animate;
}

.btn-fill-vert {
    background-color: #f1f3f2;
    border: 1px double #86a597;
    color: #828282;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        width: 100%;
        height: 0;
        opacity: 0;
        position: absolute;
        left: 0;
        z-index: -1;
        @extend .animate;
    }

    &:before {
        top: 50%;
    }

    &:after {
        bottom: 50%;
    }

    &:hover {
        color: #fff;

        &:before,
        &:after {
            height: 50%;
            opacity: 1;
        }
    }

    &.btn-green {

        &:before,
        &:after {
            background-color: #86a597;
        }
    }
}
