.comments {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #f1f3f2;

    .comment {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #a7a5a0;
        border-radius: 5px;
        position: relative;
        overflow: auto;
        background-color: #efeee9;

        .avatar {
            margin-right: 20px;
            width: 80px;
            float: left;
            display: inline-block;

            img {
                width: 100%;
            }
        }

        .user_info {
            border-bottom: 1px solid #ddd;
            display: inline-block;

            .username {
                width: 20em;
                max-width: 100%;
                display: inline-block;
                font-size: 1.1em;
                margin-right: 15px;
            }
        }

        .timestamp {
            white-space: nowrap;
            font-size: 0.8em;
            color: #999;
        }

        .content {
            margin-top: 10px;
        }
    }
}
