#intro_page {
    padding: 30px;
    div {
        text-align: center;
    }
    #searchForm {
        margin-top: 50px;
        margin-bottom: 200px;
        button {
            height: 50px;
            width: 75px;
            font-size: 1.1em;
            border-radius: 50%;
            border: 1px solid darkgrey;
        }
    }
}