#intro_page {
    padding: 30px;
    div {
        text-align: center;
    }
    #searchForm {
        margin-top: 50px;
        margin-bottom: 200px;
        #dates div:first-child{
            border-left: 1px solid #ccc;
        }
        .input-group {
            width: 45%;
            &:nth-child(2) {
                width: 35%;
            }
        }
        #size {
            width: 50%;
        }
        button {
            font-weight: bold;
            font-style: italic;
            color: #00adef;
            height: 75px;
            width: 100px;
            font-size: 1.4em;
            border-radius: 50%;
            border: 1px solid darkgrey;
        }
    }
}