.reservation_page {
    .top {
        justify-content: space-between;

        .request {
            .dates {
                label {
                    display: inline-block;
                    width: 50px;    // fixme: dumb
                }
            }

        }

        .bike {
            width: 400px;

            .status {
                font-size: 18px;
                text-align: left;
                padding-left: 5px;
            }

            .image {
                width: 100%;
                position: relative;

                .header {
                    position: absolute;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .name {
                        color: #111;
                        font-size: 20px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-bottom: 1px solid #ccc;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        padding-left: 7px;
                        padding-right: 7px;
                        padding-top: 3px;
                        padding-bottom: 2px;
                        background-color: rgba(255, 255, 255, 0.6);
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}
