#search_page {
    padding: 30px;
    .flex-row {
        justify-content: space-between;
    }

    .input-daterange{
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #searchForm {
        width: 50%;
        select, label {
            background-color: white;
            padding: 2px 10px;
            border-radius:3px;
            // border:0;
            // outline:0;
            -webkit-transition:0.3s ease all;
               -moz-transition:0.3s ease all;
                -ms-transition:0.3s ease all;
                 -o-transition:0.3s ease all;
                    transition:0.3s ease all;
        }

        select, input {
            float: right;
            text-align:center;
        }

        hr{
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .btn{
            margin-top: 20px;
        }

        .left_box{
            width: 70%;
        }

        label{
            color: #444;
            padding-right: 5px;
            font-size: 15px;
            font-weight: normal;
        }
    }
    #map {
        padding-left: 20px;
        padding-top: 20px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}