#search_page {
    padding: 30px;
    .flex-row {
        justify-content: space-between;
    }
    #searchForm {
        width: 50%;
        >div {
            margin-top: 20px;
        }
        select, label {
            background-color: white;
            padding: 2px 10px;
            border-radius:3px;
            // border:0;
            // outline:0;
            -webkit-transition:0.3s ease all;
               -moz-transition:0.3s ease all;
                -ms-transition:0.3s ease all;
                 -o-transition:0.3s ease all;
                    transition:0.3s ease all;
            }
            &:focus, &:active {
            border:0;
            outline:0;
            }
    }
    #map {
        padding-left: 20px;
        padding-top: 20px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}