<div id="bike_page" class="bike_page">
    <div data-bind='ifnot: bike'>
        LOADING!!!!!!1!!!!!!one!!!!!
    </div>
    <div data-bind='if: bike'>
        <div class="page_container">
            <div class="images">
                <div class="slick_images">
                </div>
                <!--
                <div class="image" data-bind="click: next_image">
                    <div data-bind='if: bike_image_link'>
                        <a data-bind="attr: { 'href': bike_image_link }">
                            <img data-bind="attr: { 'src': bike_image_link }"/>
                        </a>
                    </div>
                </div>
                -->
            </div>
            <div data-bind='with: bike'>
                <div class="name_container">
                    <div class="name" data-bind='text: name'></div>
                </div>
                <div class="info">
                    <div class="stats">
                        <ul>
                            <li>
                                <span class="stat_title">Frame</span>
                                <span class="stat" data-bind='text: frame'></span>
                            </li>
                            <li>
                                <span class="stat_title">Crossbar</span>
                                <span class="stat" data-bind='text: crossbar'></span>
                            </li>
                            <li>
                                <span class="stat_title">Size</span>
                                <span class="stat" data-bind='text: size'></span>
                            </li>
                        </ul>
                    </div>
                    <div class="description" data-bind='text: description'></div>
                </div>
            </div>
            <div class="comments" data-bind='foreach: comments'>
                <div class="comment">
                    <div class="comment_profile_image profile_image">
                        <img data-bind="attr: { 'src': $parent.avatar_url(user.avatar) }"/>
                    </div>
                    <div class="comment_user_info">
                        <span data-bind='with: user' class="username">
                            <a data-bind="text: name, attr: { 'title': username, 'href': '#/user/' + username }"></a>
                        </span>
                        <span class="timestamp" data-bind='with: $parent.comment_timestamp(post_time)'>
                            <span data-bind="text: human_readable, attr: { 'title': full }"></span>
                        </span>
                    </div>
                    <div class="comment_content" data-bind='text: message'></div>
                </div>
            </div>
        </div>
    </div>
</div>
