<html>

<head>
    <script src="/lib/knockout-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sammy.js/0.7.6/sammy.min.js"></script>

    <script>
        App = {};
    </script>

    <script src="/utils/ajax_queries.js"></script>
    <script src="/view_models/bike_page.js"></script>

    <title>BIKE PAGEADSDSD</title>

</head>

<body>
    <p>ID: <input data-bind='value: id'></input>.</p>
    <p>data:</p>
    <pre data-bind='text: bike_pretty_json'></pre>

    <script>
        ko.applyBindings(new App.BikePageViewModel(5));
    </script>
</body>

</html>
