<div id="intro_page">
    <div class="video-container">
        <iframe src="https://player.vimeo.com/video/81892478" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <form id="searchForm" class="flex-row" data-bind="submit: submit">
        <div class="input-group input-daterange" id="dates">
            <div class="input-group-addon">From</div>
            <input type="text" id="dateFrom" class="form-control" data-bind="value: dateFrom">
            <div class="input-group-addon">to</div>
            <input type="text" id="dateTo" class="form-control" data-bind="value: dateTo">
        </div>
        <div class="input-group">
            <div class="input-group-addon">Size</div>
            <select class="form-control" id="size" data-bind="value: bikeSize">
                <option value="all">All</option>
                <option value="small">Small (140-155cm)</option>
                <option value="medium">Medium (155-175cm)</option>
                <option value="large">Large (175-190cm)</option>
            </select>
        </div>

        <div class="button_wrapper">
            <button class="btn btn-green btn-fill-vert"  data-bind="enable: submitReady(), css: {submittable: submitReady()}"type="submit">Search</button>
        </div>
    </form>
</div>
