<div id="intro_page">
    <div class="video-container">
        <iframe src="https://player.vimeo.com/video/81892478" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <form id="searchForm" class="flex-row" data-bind="submit: submit">
        <div class="input-group input-daterange" id="dates">
            <div class="input-group-addon">From</div>
            <input type="text" class="form-control">
            <div class="input-group-addon">to</div>
            <input type="text" class="form-control">
        </div>
        <!-- <div class="flex-col"> -->
        <div class="input-group">
            <div class="input-group-addon">Size</div>
            <!-- <div><label>Size</label></div> -->
            <select class="form-control" id="size">
                <option value="all">All</option>
                <option value="small">Small (140-155cm)</option>
                <option value="medium">Medium (155-175cm)</option>
                <option value="large">Large (175-190cm)</option>
            </select>
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
</div>