<div id="login_page" class="login_page">
    <div class="busy" data-bind="if: busy">
        please wait
    </div>
    <div class="login_box" data-bind="ifnot: busy">
        <div class="fake">
            <div class="login_form" data-bind="ifnot: me">
                <form data-bind="submit: login">
                    <div class="field">
                        <label class="lbl">Username</b></label>
                        <input class="input"  type="text" placeholder="username" name="uname" data-bind="value: username, hasFocus: true" required />
                    </div>

                    <div class="field">
                        <label class="lbl">Password</label>
                        <input class="input" type="password" placeholder="***********" data-bind="value: password" required />
                    </div>
                    <div class="button_wrapper">
                        <button class="btn btn-green btn-fill-vert" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div data-bind="if: me">
            already logged in
        </div>
    </div>
</div>
