<div id="reservation_page" class="reservation_page">
    <div data-bind='ifnot: reservation_info'>
        loading dsjfkdashfksdhfjkadhfjdnjfnsjg
    </div>
    <div data-bind='if: reservation_info'>
        <div class="top flex-row" data-bind='with: reservation_info'>
            <div class="request">
                <div class="dates">
                    <div class="from">
                        <label>From:</label>
                        <span class="timestamp" data-bind='with: $parent.pretty_date(reservation.from)'>
                            <span data-bind="text: human_readable, attr: { 'title': full }"></span>
                        </span>
                    </div>
                    <div class="to">
                        <label>To:</label>
                        <span class="timestamp" data-bind='with: $parent.pretty_date(reservation.to)'>
                            <span data-bind="text: human_readable, attr: { 'title': full }"></span>
                        </span>
                    </div>
                </div>

                <div class="user" data-bind='with: $parent.user'>
                    <div class="avatar profile_image">
                        <img data-bind="attr: { 'src': $root.avatar_url(avatar) }"/>
                    </div>
                    <div class="name" data-bind='text: name'></div>
                </div>

                <div data-bind='if: reservation.pick_up_time'>
                    <div class="pick_up_time">
                        Your pick-up time is
                        <span class="timestamp" data-bind='with: $parent.pretty_date(reservation.pick_up_time)'>
                            <span data-bind="text: human_readable, attr: { 'title': full }"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class = "bike">
                <div class="status">
                    Status: <span data-bind='text: reservation.status'></span>
                </div>
                <div class="image">
                    <div class="header">
                        <div class="name">
                            <span data-bind='text: bike.name'></span>
                        </div>
                    </div>
                    <img data-bind='attr: { src: $root.image_url(bike.image) }'/>
                </div>
            </div>
        </div>
    </div>
</div>
