<div id="search_page">
    <div class="flex-row">
        <form id="searchForm" data-bind="submit: submit">
            <div class="input-daterange" id="dates">
                <div class="input-group">
                    <div class="input-group-addon">From</div>
                    <input type="text" id="dateFrom" class="form-control" data-bind="value: dateFrom">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">To</div>
                    <input type="text" id="dateTo" class="form-control" data-bind="value: dateTo">
                </div>
            </div>
            <div>
                <label>Size:</label>
                <select data-bind="value: bikeSize">
                    <option value="all">All</option>
                    <option value="small">Small (140-155cm)</option>
                    <option value="medium">Medium (155-175cm)</option>
                    <option value="large">Large (175-190cm)</option>
                </select>
            </div>
            <hr>
            <div>
                <label>Min gears:</label>
                <input type="number" class="gears" min="0" max="24" data-bind="value: gears">
            </div>
            <hr>
            <div>
                <label>Front lights:</label>
                <select data-bind="foreach: option, value: frontLights">
                    <option data-bind="value: val, text: text"></option>
                </select>
            </div>
            <hr>
            <div>
                <label>Back lights:</label>
                <select data-bind="foreach: option, value: backLights">
                    <option data-bind="value: val, text: text"></option>
                </select>
            </div>
            <hr>
            <div>
                <label>Backpedal breaking system:</label>
                <select data-bind="foreach: option, value: backpedalBrake">
                    <option data-bind="value: val, text: text"></option>
                </select>
            </div>
            <hr>
            <div>
                <label>Quick release saddle:</label>
                <select data-bind="foreach: option, value: quickReleaseSaddle">
                    <option data-bind="value: val, text: text"></option>
                </select>
            </div>
            <div class="button_wrapper">
                <button class="btn btn-green btn-fill-vert"  data-bind="enable: submitReady(), css: {submittable: submitReady()}" type="submit">Search</button>
            </div>
        </form>
        <div id="map">
            <img src="../resources/bike_map.jpg" alt="Bike map">
        </div>
    </div>
    <div id='gallery' class='container'>
        <div class="row" data-bind="foreach: bikes">
            <div class="hovereffect">
                <a data-bind="attr: {href: '#/bike/' + bike.id}">
                    <img class="img-responsive" width="600" height="500" data-bind='attr: {src: App.image_url(image)}'/>
                    <div class="overlay">
                        <h2 data-bind="text: bike.name"></h2>
                        <div class='extras' style="float:left;">
                            <label>Size: </label>
                            <span data-bind="text: bike.size"></span>
                        </div>
                        <div class='extras' style="float:left;">
                            <label>Min borrow days: </label>
                            <span data-bind="text: bike.min_borrow_days"></span>
                        </div>
                        <div class='extras' style="float:right;">
                            <label>Maximum borrow days: </label>
                            <span data-bind="text: bike.max_borrow_days"></span>
                        </div>
                        <div class='extras' style="float:left;">
                            <label>Gears: </label>
                            <span data-bind="text: bike.gears_number"></span>
                        </div>
                        <div class='extras' style="float:right;">
                            <label>Front lights: </label>
                            <span data-bind="text: $component.parseLights(bike.front_lights)"></span>
                        </div>
                        <div class='extras' style="float:left;">
                            <label>Back lights: </label>
                            <span data-bind="text: $component.parseLights(bike.back_lights)"></span>
                        </div>
                        <div class='extras' style="float:left;">
                            <label>Backpedal brake: </label>
                            <div data-bind="if: bike.backpedal_breaking_system"><i class="fa fa-check" aria-hidden="true"></i></div>
                            <div data-bind="ifnot: bike.backpedal_breaking_system"><i class="fa fa-times" aria-hidden="true"></i></div>
                        </div>
                        <div class='extras' style="float:left;">
                            <label>Quick release saddle: </label>
                            <div data-bind="if: bike.quick_release_saddle"><i class="fa fa-check" aria-hidden="true"></i></div>
                            <div data-bind="ifnot: bike.quick_release_saddle"><i class="fa fa-times" aria-hidden="true"></i></div>
                        </div>
                        <a class="info" data-bind="attr: {href: $component.borrowUrl(bike.id)}" href="#">Borrow</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>