<div id="search_page">
    <div class="flex-row">
        <form id="searchForm" data-bind="submit: submit">
            <div class="input-group input-daterange" id="dates">
                <div class="input-group-addon">From</div>
                <input type="text" id="dateFrom" class="form-control" data-bind="value: dateFrom">
                <div class="input-group-addon">to</div>
                <input type="text" id="dateTo" class="form-control" data-bind="value: dateTo">
            </div>
            <div class="input-group">
                <div class="input-group-addon">Size</div>
                <select class="form-control" data-bind="value: bikeSize">
                    <option value="all">All</option>
                    <option value="small">Small (140-155cm)</option>
                    <option value="medium">Medium (155-175cm)</option>
                    <option value="large">Large (175-190cm)</option>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-addon">Min gears</div>
                <input type="number" class="form-control" min="0" max="24" data-bind="value: gears">
            </div>
            <div class="input-group">
                <div class="input-group-addon">Front lights</div>
                <select class="form-control" data-bind="foreach: option, value: frontLights">
                    <option data-bind="value: val, text: text"></option>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-addon">Back lights</div>
                <select class="form-control" data-bind="foreach: option, value: backLights">
                    <option data-bind="value: val, text: text"></option>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-addon">Backpedal breaking system</div>
                <select class="form-control" data-bind="foreach: option, value: backpedalBrake">
                    <option data-bind="value: val, text: text"></option>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-addon">Quick release saddle</div>
                <select class="form-control" data-bind="foreach: option, value: quickReleaseSaddle">
                    <option data-bind="value: val, text: text"></option>
                </select>
            </div>
            <div>
                <button type="submit" data-bind="enable: submitReady(), css: {submittable: submitReady()}">Search</button>
            </div>
        </form>
        <div id="map">awd</div>
    </div>
    <div id='gallery'>
    </div>
</div>